{% extends "layout.html" %}
{% block head %}
<title>Dashboard</title>
{% endblock head %}

{% block body %}
<br/>
<h1 style="margin-left: 20px;">Home Page</h1>
<br/>

<div class="first_line">
    <div class="projects_box">
        <div class="projects_head">
            <h4>Projects</h4>
        </div>

        <div class="projects">
            <br/>
            <ul>
            {% for project in projects %}
            <li><a href="{{ url_for('project_page', id=project.id) }}">{{ project.project_name }}</a></li>
            {% endfor %}
            </ul>
            <br/>
            <button><a href="{{ url_for('create_project') }}">+ Add writing project</a> </button>
            <br/>
        </div>
    </div>

    <div class="wc_box">
        <div class="wc_head">
            <h4>Total word count</h4>
        </div>

        <div class="word_count">
            <br/>
            <p>words</p>
            <button><a href="{{ url_for('create_project') }}">+ Log Words</a> </button>
        </div>
    </div>


</div>

<br/><br/><br/><br/>

<div class="second_row">
    <div class="goal_box">
        <div class="goal_header">
            <h4>Current Goal</h4>
        </div>
        <div class="current_goal">

        </div>
    </div>

    <div class="streak_box">
        <div class="streak_header">
            <h4>Writing Streak</h4>
        </div>
        <div class="current_streak">

        </div>
    </div>
</div>

<br/><br/><br/>

<div class="content">
        <h3>To-Do List</h3>

        {% if tasks | length < 1 %}
        <p>There are no tasks...</p>
        {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{task.content}}</td>
                    <td>{{task.date_created.strftime("%Y-%m-%d")}}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br/>
                        <a href="/edit/{{task.id}}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        {% endif %}
        <form action="/" method="POST">
            <input type="text" name="content" id="content"/>
            <input type="submit" value="Add Task" id="btn_add"/>
        </form>

    </div>



{% endblock body %}




